In [2]:
import sys
sys.path.append('/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages')

from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [3]:
init_db()

2020-12-02 16:38:42,562 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-02 16:38:42,563 INFO sqlalchemy.engine.base.Engine ()
2020-12-02 16:38:42,564 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-02 16:38:42,564 INFO sqlalchemy.engine.base.Engine ()
2020-12-02 16:38:42,565 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2020-12-02 16:38:42,566 INFO sqlalchemy.engine.base.Engine ()
2020-12-02 16:38:42,567 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("data")
2020-12-02 16:38:42,568 INFO sqlalchemy.engine.base.Engine ()
2020-12-02 16:38:42,569 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2020-12-02 16:38:42,570 INFO sqlalchemy.engine.base.Engine ()
2020-12-02 16:38:42,571 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
date=datetime.date.today()
date

datetime.date(2020, 12, 2)

In [8]:
row =Data(date=date,subscribers=3500,reviews=200)

In [9]:
row

In [10]:
row.date

datetime.date(2020, 12, 2)

In [11]:
db_session.add(row)

In [12]:
db_session.commit()

2020-12-02 17:01:57,543 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-02 17:01:57,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-12-02 17:01:57,545 INFO sqlalchemy.engine.base.Engine ('2020-12-02', 3500, 200, '2020-12-02 16:38:41.176714')
2020-12-02 17:01:57,546 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
row1=Data(date=date,subscribers=6500,reviews=210)
row2=Data(date=date,subscribers=1500,reviews=220)

In [14]:
db_session.add(row1)
db_session.add(row2)

In [15]:
db_session.commit()

2020-12-02 17:03:50,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-02 17:03:50,130 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-12-02 17:03:50,131 INFO sqlalchemy.engine.base.Engine ('2020-12-02', 6500, 210, '2020-12-02 16:38:41.176714')
2020-12-02 17:03:50,132 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-12-02 17:03:50,133 INFO sqlalchemy.engine.base.Engine ('2020-12-02', 1500, 220, '2020-12-02 16:38:41.176714')
2020-12-02 17:03:50,134 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
db_session.query(Data).all()[0].subscribers

2020-12-02 17:11:11,622 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-02 17:11:11,624 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-12-02 17:11:11,624 INFO sqlalchemy.engine.base.Engine ()

3500

In [17]:
datum=db_session.query(Data).all()[0]

2020-12-02 17:15:27,930 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-12-02 17:15:27,931 INFO sqlalchemy.engine.base.Engine ()

In [18]:
datum.subscribers=10000

In [19]:
db_session.add(datum)

db_session.commit()

2020-12-02 17:16:27,228 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2020-12-02 17:16:27,229 INFO sqlalchemy.engine.base.Engine (10000, 1)
2020-12-02 17:16:27,230 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
db_session.query(Data).all()[0].subscribers

2020-12-02 17:16:56,351 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-12-02 17:16:56,352 INFO sqlalchemy.engine.base.Engine ()

10000

In [22]:
datum=db_session.query(Data).filter_by(subscribers=10000).one()

2020-12-02 17:19:06,890 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2020-12-02 17:19:06,891 INFO sqlalchemy.engine.base.Engine (10000,)

In [23]:
db_session.delete(datum)
db_session.commit()

2020-12-02 17:20:03,621 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2020-12-02 17:20:03,622 INFO sqlalchemy.engine.base.Engine (1,)
2020-12-02 17:20:03,623 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
len(db_session.query(Data).all())

2020-12-02 17:20:21,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-02 17:20:21,839 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-12-02 17:20:21,839 INFO sqlalchemy.engine.base.Engine ()

2

In [25]:
Data.query.delete()

2020-12-02 17:21:31,490 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2020-12-02 17:21:31,490 INFO sqlalchemy.engine.base.Engine ()

2