In [69]:
from bs4 import BeautifulSoup
import requests

In [70]:
url='https://scraping-for-beginner.herokuapp.com/udemy'

In [71]:
r = requests.get(url)

In [72]:
soup = BeautifulSoup(r.text, 'html.parser')

In [73]:
name=soup.select('.card-title')[0].string
name

'今西 航平'

In [74]:
subscribers=soup.select('.subscribers')[0].string
subscribers

'受講生の数：9932'

In [75]:
reviews=soup.select('.reviews')[0].string
reviews

'レビューの数：1618'

In [76]:
subscribers=int(subscribers.split('：')[1])

In [77]:
reviews=int(reviews.split('：')[1])

In [78]:
reviews

1618

In [79]:
results={
    'name':name,
    'subscribers':subscribers,
    'reviews':reviews
}
results

{'name': '今西 航平', 'subscribers': 9932, 'reviews': 1618}

In [80]:
import pandas as pd

In [81]:
df=pd.read_csv('assets/data.csv')

In [82]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [83]:
df.tail()

           date  subscribers  reviews
684  2020/11/25         9733     1618
685  2020/11/26         9769     1618
686  2020/11/27         9838     1618
687  2020/11/28         9926     1618
688  2020/11/29         9931     1618

In [84]:
import datetime

In [85]:
date=datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2020/11/29'

In [86]:
sub = results['subscribers']
rev = results['reviews']

In [87]:
sub
rev

1618

In [88]:
sub

9932

In [89]:
results=pd.DataFrame([[date,sub,rev]],columns=['date','subscribers','reviews'])
results

         date  subscribers  reviews
0  2020/11/29         9932     1618

In [90]:
df=pd.concat([df,results])
df.tail()

           date  subscribers  reviews
685  2020/11/26         9769     1618
686  2020/11/27         9838     1618
687  2020/11/28         9926     1618
688  2020/11/29         9931     1618
0    2020/11/29         9932     1618

In [92]:
df.to_csv('assets/data.csv',index=False)

In [93]:
def get_udemy():
    url='https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    name=soup.select('.card-title')[0].string
    subscribers=soup.select('.subscribers')[0].string
    reviews=soup.select('.reviews')[0].string

    subscribers=int(subscribers.split('：')[1])
    reviews=int(reviews.split('：')[1])

    results={
        'name':name,
        'subscribers':subscribers,
        'reviews':reviews
    }

    return results

{'name': '今西 航平', 'subscribers': 9932, 'reviews': 1618}

In [ ]:
def write_date():
    df=pd.read_csv('assets/data.csv')

    _results=get_udemy()

    sub = _results['subscribers']
    rev = _results['reviews']
    date=datetime.datetime.today().strftime('%Y/%-m/%-d')

    results=pd.DataFrame([[date,sub,rev]],columns=['date','subscribers','reviews'])

    df=pd.concat([df,results])

    df.to_csv('assets/data.csv',index=False)